.gif{
    background-color: azure;
    border: 1px solid black;
    -webkit-column-break-inside: avoid; //Chrome, Safari, Opera
    display: inline-block; 
    break-inside: avoid; //IE 10+
    page-break-inside: avoid; // Firefox
    width: 100%;
    color: black;

    &__h4{
        margin:0;
    }

    &__img{
        object-fit: contain;
    }
}
