.listgifs__section{
    min-height: 100vh;
    width: 100%;
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax($gridlist-column, 1fr));
    // grid-template-rows: masonry;
    // grid-auto-flow: row dense;
    // // grid-auto-rows: $gridlist-rows;
    // gap: $gridlist-gap;
    // align-items: center;

    column-count: 4;
    column-gap: 0.5rem;
    // // margin: 0 5rem;

    @include dp(){
        margin: 0 auto;
        column-count: 3;
    }

    @include mb(){
        column-count: 1;
    }


}

