.listgifs__section{
    // display: grid;
	// grid-gap: 1rem;
	// grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
	// grid-template-rows: 20rem;
	// grid-auto-flow: dense;

    column-count: var(--results-columns);
    column-gap: 0.5rem;
    // margin: 0 5rem;

    @include dp(){
        column-count: 2;
    }

    @include mb(){
        column-count: 1;
    }
}

