.Search{
    margin-bottom: 3em;
    display: flex;
    align-self: center;
    width: fit-content;




    // box-shadow: rgba(223, 15, 119, 0.829) 4px 5px;
    // box-shadow: #f6d101c0 0px 2px 5px -1px, #f6d1011e 0px 1px 3px -1px;

    &-input{
        width: 13.5rem;
        padding: 1em;
        margin: 0;
        border-radius: 1rem 0 0 1rem;
                border: 1px solid #bdbaba;
    }
    
    &-button{
        cursor: pointer;
        // border: 1px solid rgb(180, 42, 192);
        background-color: rgb(126, 2, 138);
        box-shadow: none;
        padding: 1em;
        border-radius: 0 1em 1em 0;
        border: 1px solid #bdbaba;
        // margin: 0 0 0 0.5rem;

        &:hover{
            background-color: rgb(180, 42, 192);
            // border: 1px solid rgb(180, 42, 192);
        }
    }
}



.IconSearch{
    font-size: 1.5em;

        &:hover{
            color: rgb(180, 42, 192);
    }
}
