.home{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0 auto;



    &__section{
        display: grid;
        grid-template-columns: 0.8fr 0.2fr;

        @include mb(){
            grid-template-columns: 1fr;
            margin: 0 auto;
        }

        .home__lastsearch{
            display: flex;
            flex-direction: column;
        }
        

        .home__popular{
            text-align: left;
            width: 100%;
            padding:0 2em 2em 2em;
            display: flex;
            flex-direction: column;
            gap: 1em;

            .home__li{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }
    
    }
    
    
    &__h3{
        font-size: 1.5em;
        font-weight: 600;
        margin: 0 0 1em 0;
        padding: 0;
        text-align: left;
    }
}




