.app{
  margin: 0 20rem;
}



.app__content{
  min-height: 100vh;
  
  

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  padding: 1rem;
  color: azure;

}

.app__img{
  width: 20rem;
  margin: 0 0 5em 0;
}

.App-title{
  text-align: left;
  align-self: flex-start;
  margin: 0 0 2rem 0;
  font-size: 1.7rem;
}
