#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.app__content{
  /* background-color: darkslategray; */
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: azure;
}
