// $gridlist-column: 16rem;
// $gridlist-rows: 16rem;
// $gridlist-gap: 1rem;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap');

$results-columns: 4;
$colorgif-1: #F72585;
$colorgif-2: #7209B7;
$colorgif-3: #3A0CA3;
$colorgif-4: #4361EE;
$colorgif-5: #4CC9F0;
$colorgif-6: #ffc300;